<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="frm_list_table">
    <textarea style="display:none" id="tempProduct">
        <tr id="tr_{0}">
            <td>{0}</td>
            <td>{1}</td>
            <td>
                <a class="{7}" href="{5}" data-mfp-src="{5}" title="{1}">
                    <img src="{6}" alt="{1}">
                </a>
            </td>
            <td>{2}</td>
            <td>{3}</td>
            <td>{4}</td>
            <td class="">
                <a class="btn btn-outline-primary update-modal" data-id="{0}" >
                    <i class="fas fa-user-edit"></i>
                    Edit
                </a>
                <a class="btn btn-outline-danger delete" data-id="{0}" >
                    <i class="far fa-trash-alt"></i>
                    Delete
                </a>
            </td>
        </tr>
    </textarea>
</th:block>