<th:block th:fragment="modalChangeToTable">
    <div class="modal fade" id="modalChangeToTable" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
         data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Chuyển Bàn</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area hide"></div>
                    <form method="post" id="frmChangeToTable">
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="tableSend">Bàn Chuyển</label>
                                <input type="text" id="tableSend" class="form-control" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="tableSelect">Bàn Nhận</label>
                                <select class="form-select" name="table.id" id="tableSelect">

                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnChangeToTable" class="btn btn-outline-primary">Chuyển</button>
                </div>
            </div>
        </div>
    </div>
</th:block>